* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
}

body {
  background-color: #09161d;
  color: #fff;
  font: 16px sans-serif;
  text-align: center;
}

h1 {
  font-size: 30px;
  height: 30px;
  line-height: 30px;
  padding: 20px 0 10px;
}

button {
  appearance: none;
  background: linear-gradient(180deg, #fff, #ccc);
  border: 0;
  border-radius: 10px;
  box-shadow: 0 7px 0px rgba(255, 255, 255, .2);
  cursor: pointer;
  height: 100px;
  text-transform: uppercase;
  width: 100px;
}

button:disabled {
  background: #333 none;
  color: #fff;
}


.deck {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  height: calc(100% - 60px);
  overflow: hidden;
  padding: 0 1em;
  width: 100%;
}
